{% extends 'base.html' %}

{% block content %}
    <h2> Історія музею </h2>
    <p>МИКОЛАЇВСЬКИЙ ОБЛАСНИЙ КРАЄЗНАВЧИЙ МУЗЕЙ</p>
    <p>15 (28) грудня 1913 року в культурному житті Миколаєва відбулась важлива подія – було відкрито міський
        природничо-історичний музей. Основою його зібрання стала унікальна природнича колекція Е.П. Францова,
        подарована місту його спадкоємцями. В ній були представлені зразки мінералів, опудала птахів, риб, тварин,
        корали, губки, гербарії тропічних рослин та багато інших цікавих речей.</p>
    <p>Процесом створення міського музею опікувалася комісія, до складу якої увійшли депутати місцевої думи на чолі
        з юристом, археологом-аматором С.І. Гайдученко. Музей розмістився в орендованому будинку по вул. Малій
        Морській, 11 (ріг вул. Великої Морської). Городяни із захопленням розглядали першу експозицію, багато з них
        відгукнулись на пропозицію С.І. Гайдученка сприяти поповненню історичної колекції нового музею. В перші роки
        існування музейну колекцію поповнили численні подарунки – археологічні знахідки з Ольвії, етнографічні
        матеріали, побутові речі міських жителів, зразки холодної та вогнепальної зброї, документи, фотографії,
        моделі кораблів. У червні 1918 р. до фондосховищь надійшла колекція військового музею 58-го Празького
        піхотного полку.</p>
    <p>Незважаючи на бурхливі події революції та громадянської війни, музей не тільки зберіг свої експонати, а
        продовжував поповнюватися новими надходженнями. Згодом невелике приміщення вже не могло вмістити всю
        колекцію, тому на її базі було створено два музеї - історико-археологічний та природничий.</p>
    <p>Після смерті С.І. Гайдученка, з травня
        1923 по кінець вересня 1929 р., посаду директора займав археолог, краєзнавець Ф.Т. Камінський . У ті часи
        музей вже потребував нового приміщення. В результаті ним стала будівля колишньої гауптвахти на Соборному
        (Радянському) майдані. Після капітального ремонту 10 березня 1929 р. відбулося урочисте відкриття
        експозиції. На той час в зібранні музею було більше 19 тис. експонатів.</p>
    <p>28 квітня 1929 р. міська влада прийняла
        рішення про передачу музею будівлі Адміралтейського собору для виставки до 140-річчя Миколаєва, а потім під
        військово-морський відділ, в якому вже зберігалось 856 зразків зброї та військової атрибутики.</p>
    <p>На жаль, хвиля політичних репресій не обминула і музей, у вересні 1929 р. було заарештовано Ф.Т.
        Камінського, пізніше М.Д. Лагуту та інших представників творчої інтелігенції, які сприяли роботі
        закладу.</p>
    <p>У 30-ті рр. експозиція музею стала дуже
        заполітизованою, що знизило її науковий та естетичний рівень. В цей час музей природи знаходився в
        приміщенні колишнього реального училища (на розі вулиць Нікольської та Наваринської), його колекція
        налічувала 12 тис. експонатів. Восени 1936 р. в зв’язку з реконструкцією Радянського майдану зазнали
        руйнації Адміралтейський собор та гауптвахта, тому історико-археологічний музей перевезли до будівлі
        костьолу та двоповерхового будинку католицького священика (вул. Декабристів, 32).</p>
    <p>В період нацистської окупації та Другої світової війни музей продовжував працювати. При ньому діяла підпільна
        антифашистська організація під керівництвом Ю. Тарасова.</p>
    <p>На жаль, музейним співробітникам не вдалося повністю зберегти археологічні матеріали. В листопаді 1943 р.
        значну частину ольвійської колекції німці вивезли до Кенігсбергу, подальша доля цих експонатів невідома. У
        листопаді 1950 р. відбулося об’єднання історичного та природничого музеїв у Миколаївський обласний
        краєзнавчий музей, яким він залишається і зараз.</p>
    <p>У 1960-1980-ті рр. активізувалась науково-дослідницька та пошукова робота. Майже кожного року стали проводити
        комплексні експедиції в райони області та за їх межі. До фондів музею щорічно надходили нові артефакти.</p>
    <p>В цей період музей був змушений збирати матеріали партійних з’їздів, пленумів, «ударних» будівництв тощо. То
        була "обов’язкова програма", але продовжувалися археологічні дослідження степових курганів, поселень доби
        бронзи та античності. В ці часи розпочалось формування особистих фондів видатних миколаївців:
        інженера-технолога В.В. Рюміна, астрономів Б.П. Остащенко-Кудрявцева та Ф.О. Бредихіна, архіви просвітителя
        А.М. Топорова, поета М. Лисянського.</p>
    <p>Окрім цього, музеєм була придбана частина
        колекції російських пам’ятних медалей, зібраних родиною Ашиків. Одним з найцікавіших експонатів стала книга
        "Требник" П. Могили, надрукована в Києві в 1646 р.</p>
    <p>У 1970-1980-ті рр. музей зазнав суттєвих змін. Розширився штат співробітників, а до його структури увійшли
        новостворені філіали (територіально виділені відділи): у 1972 р. Очаківський військово-історичний музей ім.
        О.В. Суворова, у 1975 р. музей "Підпільно-партизанський рух на Миколаївщині в роки Великої Вітчизняної
        війни. 1941-1944 рр." (вул. Лягіна, 5). Великою подією для міста стало відкриття в липні 1978 р. Музею
        суднобудування та флоту – справжньої візитівки міста корабелів. В середині 80-х рр. ХХ ст. філіалами
        обласного краєзнавчого музею стали музей м. Первомайська та музей "Партизанська іскра" (с. Кримка).</p>
    <p>З 1985 по 1995 рр. музей (головна будівля по вул. Декабристів, 32) пережив не найкращі часи: довготривалий
        ремонт, неможливість відкриття повно-профільної експозиції, окрім цього музейне приміщення відійшло до
        католицького костьолу. Тривалий час працювали лише 2-3 виставкові зали.</p>
    <p>Проте велася постійна робота над поповненням музейної колекції. На початку 2000-х років музейне зібрання
        налічувало близько 180 тис. предметів. У 1999 р. Миколаївська облдержадміністрація прийняла рішення передати
        краєзнавчому музею будівлі комплексу "Старофлотські казарми" – пам’ятник архітектури національного значення,
        що був побудований у першій половині ХІХ ст. згідно проєкта англійського архітектора Ч.Акройда (вул.
        Набережна, 29). Ремонті роботи однієї з колишніх казарм були завершені до початку 2012 р. Через шість
        місяців в 18 залах була створена нова експозиція, яка відображає природно-екологічні особливості краю та
        історію північно-причорноморських земель від кам’яної доби до середньовіччя. Окрім постійної експозиції в
        музеї працюють три виставкові зали, в яких періодично демонструються художні та історичні виставки.</p>
    <p>Зараз у музеї функціонують п’ять відділів. Співробітники науково-експозиційного відділу займаються вивченням
        природних особливостей, екологічної ситуації нашого краю та його історії з найдавніших часів до сьогодення.
        Наші науковці проводять збір нових музейних предметів, здійснюють атрибуцію експонатів, беруть участь у
        науковому житті області та країни. Також в їх обов’язки входить створення виставок, обслуговування постійно
        діючої експозиції, розробка та проведення екскурсій і лекцій.</p>
{% endblock %}