{% extends 'base.html' %}
{% load in_group %}

{% block content %}
    {% if user.is_authenticated and user|in_group:"storage_manager" %}
    <a href="{% url 'storage-new' %}">
        <button>Створити</button>
    </a>
    <br>
    <h1>Сховище:</h1>
    {% if items_list %}
        <ul>
            {% for item in items_list %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <span>Сховище пусте.</span>
    {% endif %}
    {% else %}
        <h1>Доступ відхилено.</h1>
    {% endif %}
{% endblock %}